<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Form</title>
</head>
<body>
<form th:action="@{/savebook}" th:object="${book}" method="post">
    <div class="container">
        <input type="hidden" th:field="*{id}">
     Title:   <input type="text" th:field="*{title}">
     Author:      <select th:field="*{writers}" multiple>
                <option th:each="eachAuthor:${bookwriters}" th:value="${eachAuthor.id}" th:text="${eachAuthor.firstName + eachAuthor.lastName}"></option>
            </select>
     Description: <textarea rows="3" th:field="*{description}"></textarea>
     Price:  <input type="number" step="0.01" th:field="*{price}" >
     SKU: <input type="text" th:field="*{sku}">
     In Stock<input type="text" th:field="*{inStock}">

        <input type="submit" value="Submit">
    </div>




</form>

</body>
</html>