<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <a href="/addbook">Add a book</a>

    <h1>Books and their Authors</h1>
    <div th:each="eachAuthor : ${writerlist}">
        <h2 th:text="${eachAuthor.firstName + eachAuthor.lastName}"></h2>
        <h3 th:text="${#lists.size(eachAuthor.books)>0}?'My Books':'No Books for me'"></h3>
            <div th:each="eachBook:${eachAuthor.books}">
                <ul>
                    <li> [[${eachBook.title}]]</li>
                    <li> [[${eachBook.description}]]</li>
                    <li> [[${eachBook.price}]]"</li>
                    <li> [[${eachBook.inStock}]]</li>
                    <li> [[${eachBook.sku}]]"</li>

                </ul>

            </div>
    </div>

</div>
</body>
</html>